{% extends "base.html" %}

{% block content %}
<div class="site-wrapper">
   <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="masthead clearfix">
            <div class="inner">
              <h5 class="masthead-brand">ECE1779-Assignment1 <b><i>{{session['username']}}</i></b>'s UserPage</h5>
              <nav>
                <ul class="nav masthead-nav">
                    <li class="active"><a href="{{ url_for('profile',username = session['username']) }}">Back to profile</a></li>
                    <li class="active"><a href="{{ url_for('logout') }}">Logout</a></li>

                </ul>
              </nav>
            </div>
          </div>

            {% if cursor is none %}
            <h3>You have not uploaded any image yet!</h3>
            {% endif %}
          <div class="row">
            {% for row in cursor %}
                <div class="col-md-1">
                     <a href="{{ url_for('imageview', username=row[0], imageid = row[1]) }}">
                     <img src="../static/images_uploaded/{{row[2]}}" class="img-thumbnail">
                     </a>
                </div>
            {% endfor %}
          </div>


          <div class="mastfoot">
        <div class="inner">
          <p>By an <a href="http://www.cs.toronto.edu/~delara/courses/ece1779/" target="_blank">ECE1779</a> group</a>.</p>
        </div>
        </div>


      </div>
   </div>
</div>
{% endblock %}
