{% extends "base.html" %}

{% block headcontent %}
<hr>
<h3>Welcome! You Can
<a class="btn btn-secondary" href="{{ url_for('main') }}" role="button">back to index</a>
Here
</h3>
{% endblock %}

{% block content %}


<form class="form" method="POST">
    {{ form.hidden_tag() }}

       {{ form.username.label }}<br>
       {{ form.username }}
       <br>
       {{ form.password.label }}<br>
       {{ form.password }}
       <br>
       {{ form.submit }}

</form>

<!--
    <br><br><br><br><br><br><br><br><br><br>
    <a herf="{{ url_for('main') }}" role="button"></a>
-->
{% endblock %}