{% extends "base.html" %}


{% block content %}
<div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h5 class="masthead-brand">ECE1779-Assignment1</h5>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="{{ url_for('main') }}">Home</a></li>

                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Hello,</h1>
              <br>
              <p class="lead">This is ECE1779 assignment #1.</p>
            <p class="lead">A place to upload, transform and browse images.</p>
            <p class="lead">
              <!--<a href="#" class="btn btn-lg btn-default">Learn more</a>-->
                        <div class="row justify-content-center">
                            <div class="col-md-2">
                            <p><a class="btn btn-lg btn-default" href="{{ url_for('login') }}" role="button">&nbsp;&nbsp;&nbsp;Login&nbsp;&nbsp;&nbsp;</a></p>
                            </div>

                            <div class="col-md-2">
                            <p><a class="btn btn-lg btn-default" href="{{ url_for('register') }}" role="button">&nbsp;&nbsp;Register&nbsp;&nbsp;</a></p>
                            </div>

                        <div class="col-md-2">
                            <p><a class="btn btn-lg btn-default" href="{{ url_for('upload_image_test') }}" role="button">TestUpload</a></p>
                            </div>
                        </div>
            </p>
          </div>

        <div class="mastfoot">
        <div class="inner">
          <p>By an <a href="http://www.cs.toronto.edu/~delara/courses/ece1779/"  target="_blank">ECE1779</a> group</a>.</p>
        </div>
        </div>

        </div>
      </div>
    </div>
{% endblock %}

